<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Grimaldo</title>
    <link rel="stylesheet" href="arranqueCSS.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto+Condensed:ital@1&family=Roboto:ital,wght@0,400;1,900&display=swap" rel="stylesheet">

</head>

<body>
    <div class="background-one">
        <div class="link-container">
            <a class="link-one" href="biseccion/view.html">Bisección</a>
        </div>
    </div>
    <div class="background-two link-container">
        <a class="link-two" href="newton/index.html">Newton</a>
    </div>
    <div class="background-three link-container">
        <a class="link-three" href="falsaPosicion/index.html">Falsa posición</a>
    </div>
</body>

</html>