<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de bisección</title>
    <link rel="stylesheet" href="resultadoEstilos.css">
</head>
<body>
    <div>
        <h1>El resultado es:</h1>
        <h2>x  =  1.591908874488931</h2>
    </div>

    <table id="customers">
        <tr>
            <td>Iteraciones</td>
            <td>a</td>
            <td>Valor de funcion</td>
            <td>b</td>
            <td>Valor de funcion</td>
        </tr>
        <tr>
            <td>0</td>
            <td>1</td>
            <td>1.5</td>
            <td>2</td>
            <td>-2.5</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1.5</td>
            <td>0.375</td>
            <td>2</td>
            <td>-2.5</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1.5</td>
            <td>0.375</td>
            <td>1.75</td>
            <td>-0.796875</td>
        </tr>
        <tr>
            <td>3</td>
            <td>1.5</td>
            <td>0.375</td>
            <td>1.625</td>
            <td>-0.150391</td>
        </tr>
        <tr>
            <td>4</td>
            <td>1.5</td>
            <td>0.126709</td>
            <td>1.625</td>
            <td>-0.150391</td>
        </tr>
    </table>
    <br>
    <table id="customers">
        <tr>
            <td>El proceso lleva mas de 10 iteraciones</td>
        </tr>
    </table>

    <table id="customers">
        <tr>
            <td>Iteraciones</td>
            <td>a</td>
            <td>Valor de funcion</td>
            <td>b</td>
            <td>Valor de funcion</td>
        </tr>
        <tr>
            <td>47</td>
            <td>1.591908874488929</td>
            <td>9.76996x10^-15</td>
            <td>1.591908874488936</td>
            <td>-2.13163x10^-14</td>
        </tr>
        <tr>
            <td>48</td>
            <td>1.591908874488929</td>
            <td>9.76996x10^-15</td>
            <td>1.591908874488933</td>
            <td>-7.99361x10^-15</td>
        </tr>
        <tr>
            <td>49</td>
            <td>1.591908874488929</td>
            <td>9.9.76996x10^-15</td>
            <td>1.591908874488931</td>
            <td>8.88178x10^15</td>
        </tr>
    </table>
    <a href="../arranque.html">
        <button>Regresar al menú</button>
    </a>
</body>
</html>